#container{
  height:100vh;
  display:flex;
  flex-direction:row;
  justify-content: stretch;
  align-items: stretch;
  overflow: auto;
}

.flex-content{
  border: 1px solid black;
  flex:1;
  display:flex;
  flex-direction: column;
  align-content: stretch;
  flex-basis: 50%;
  overflow-y: auto;

}
#preview{
  padding:2em;
  background-color: #F3F3F3
}
textarea{
  flex: 1 1 auto;
  box-sizing: border-box;
  resize: none;
  white-space: pre-wrap;
  padding:3.5em;
}
textarea:focus {
  outline:0;
}
h1,h2,h3,h4,h5,h6{
  border-bottom: 1px solid lightgray;
}
tr,td,th{
  border:1px solid lightgray;
}
blockquote{
  border-left: 5px solid black;
  padding-left:1em;
}