#container{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #444444;
}
#well{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width:75%;
  min-height:60%;
  background-color: #8EA1D8;
  border-radius:15px;
}

.flex-content{
  border: 1px solid black;
  border-radius: 15px;
  flex:1;
  margin: 2em;
  min-height:60%;
  display:flex;
  flex-direction: column;
  align-content: stretch;
  
}
#preview{
  padding:2em;
}
textarea{
  flex: 1;
  box-sizing: border-box;
  border-radius:15px;
  resize: none;
  padding:2em;
  white-space: pre-wrap;
}
textarea:focus {
  outline:0;
}
h1,h2,h3{
  border-bottom: 1px solid lightgray
}